/* parametres generaux */
@font-face {
  font-family: "font-reg";
  src: url(./fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(./fonts/PlayfairDisplay-ExtraBold.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(./fonts/PlayfairDisplay-ExtraBold.ttf);
}
* {
  padding: 0;
  margin: 0;
}
*::selection {
  background: #fefeff;
  color: #fefeff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "font-reg", serif;
  background: #fefeff;
  color: #000101;
  transition: 0.7s ease-in-out;
}
h1 {
  font-size: calc(3rem + 3vw);
  font-family: "font-bold", serif;
  text-align: center;
  color: #000101;
  letter-spacing: 3px;
}
h2 {
  font-size: calc(3rem + 3vw);
  font-family: "font-bold", serif;
  text-align: center;
  color: #fefeff;
  letter-spacing: 3px;
}
.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}
span {
  display: inline-block;
}
a,
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #000101;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #000101;
  height: 1px;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}
a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animlink 1.4s infinite ease-in-out;
}
@keyframes animlink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6em;
  border-radius: 200px 200px;
}
.img:hover {
  filter: grayscale(10%);
}
.line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #000101;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transform-origin: left;
  transition-delay: 0.65s;
}
/* parametres par ordre d'apparition */
header {
  height: 20vh;
  position: relative;
  margin: 2vw 2vw 0;
}
.links {
  display: flex;
  justify-content: space-between;
}
h3 {
  --s: 0.1em; /* the thickness of the line */
  --c: #000101;
  color: #000101;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #fefeff)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  text-align: center;
}
h3:hover {
  --_p: 100%;
}

h3 {
  font-family: "font-bold", serif;
  margin-top: 20px;
  font-size: 4rem;
  cursor: pointer;
}
header h2 {
  font-size: calc(1rem + 5vw);
  margin: 18px 0;
  margin-top: 300px;
  text-shadow: 0px 0px 2px gray;
}
.about {
  margin: 0px 0 250px;
}
.img1 {
  background: url(./asset/Portrait.jpg) center/cover;
}
.skills {
  margin: 200px 0 250px;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .appear {
  text-align: center;
}
.skills p {
  font-size: calc(1rem + 6vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  background: #000101;
  color: #fefeff;
  display: inline-block;
  padding: 0 12px 12px;
}
.portfolio {
  margin: 200px 0;
}
.projects-container {
  margin-top: 100px;
}
.project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
.project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.project:hover img {
  filter: brightness(20%);
}
.project:hover .project-infos {
  opacity: 1;
  transform: translate(0, -50%);
}
.project-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
.project-infos p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: #fefeff;
}
footer {
  margin: 150px 0 120px;
}
footer p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
footer a {
  font-family: "font-bold", serif;
  color: #000101;
  font-size: calc(1rem +2vw);
}
.img2 {
  background: url(./asset/thank.jpg) center/cover;
}
.mer {
  height: 880px;
  display: flex;
}
.liste {
  font-family: "font-bold", serif;
  text-align: center;
  font-size: 2rem;
}
.social-media {
  height: 90px;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 150px auto;
  gap: 5rem;
}
